# .gitignore
# Build artifacts
*.o
*.a
/yafu
*.no
*.qo

# Logs / Checkpoints
*.log
siqs.dat
cadoWorkdir
/*.db
/nfs.*
*.optrpt
*.obj
*.tlog
*.last_spq*

# visual studio build
build.vc22/.vs/*
*.idb
*.pdb
*.user
*.recipe


